@page "/weather"
@inject HttpClient Http
@using WorkoutWebAssembly.utilities;

<PageTitle>Weather Alerts</PageTitle>

<h1>Weather Alerts by State</h1>

<p>This component demonstrates fetching data from an API. API used: <a href="https://www.weather.gov/documentation/services-web-api">National Weather Service API</a></p>
<section style="display: flex; flex-direction: row;">
<select @bind="selectedState" class="form-control" style="width: 20%;">
    @foreach(var state in Enum.GetValues(typeof(stateEnum)))
    {
        <option value="@state">@state</option>
    }
</select>

<button class="btn btn-primary" @onclick="GetWeatherAlerts">Get Weather Alerts</button>
</section>
@if (alertsForState == null)
{
    <p>Please select a state</p>
}
else
{
    <h3>@alertsForState.title</h3>
    <h4>@alertsForState.updated.ToString()</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Counties Affected</th>
                <th>Headline</th>
                <th>Description</th>
                <th>Instruction</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feature in alertsForState.features)
            {
				<tr>
					<td>@feature.properties.areaDesc</td>
					<td>@feature.properties.headline</td>
					<td>@feature.properties.description</td>
					<td>@feature.properties.instruction</td>
				</tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherAlert? alertsForState;
    private stateEnum selectedState;

    private async Task GetWeatherAlerts()
    {
        var stateCode = selectedState.ToString();
        string apiUrl = $"https://api.weather.gov/alerts/active?area={stateCode}";
        alertsForState = await Http.GetFromJsonAsync<WeatherAlert>(apiUrl);
    }
}
